$bootstrap-sass-asset-helper: true;
@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'MISTV';
  src: url('../fonts/MISTV.ttf');
}

#resume-wrapper {
    width: 100%;
    height: 100%;

    a.active {
      color: orange;
    }

    .resume-container {
      .resume-title-container {
        display: flex;
        justify-content: center;
        .resume-title {
          font-family: MISTV;
          font-size: 45px;
          color: steelblue;
        }
      }

      .resume-info {
        display: flex;
        align-items: center;
        .resume-about-me {
          flex-basis: 50%;
          display: flex;
          justify-content: space-around;
          ol { 
            font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;
            li {
              p { 
                padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:steelblue; border-left: 1px solid #999;
                em { 
                  display:block;
                }
              }
            }
          }
        }
        .resume-img {
          flex-basis: 50%;
          display: flex;
          justify-content: space-around;
        }
      }
    }

    @media only screen and (max-width: 480px) { 
      
      
    }

    .parallex {
      background-image: url("../images/pushkar-peek.jpg");
      /* Set a specific height */
      height: 720px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}